<section class="hero is-fullheight catamaran">
  <div class="login-wrapper columns">
    <div class="column is-8 is-hidden-mobile hero-banner animated fadeInLeft">
      <section class="hero is-fullheight is-dark">
        <div class="hero-body">
          <div class="container section">
            <div class="has-text-right">
              <h1 class="title is-1">Login</h1> <br>
              <p class="title is-3">Login Seguro da Conta de Usuário</p>
            </div>
          </div>
        </div>
        <div class="hero-footer">
          <p class="has-text-centered">Image © Glenn Carstens-Peters via unsplash</p>
        </div>
      </section>
    </div>
    <div class="column is-4 animated fadeInRight">
      <section class="hero is-fullheight">

        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <!-- <h1 class="avatar has-text-centered section">
                  <img src="https://placehold.it/128x128">
                </h1> -->
                <div class="hero-heading">
                  <div class="section has-text-centered courgette larger-text animated pulse infinite">
                    <a routerLink="login">Personal Budget</a>
                  </div>
                </div>
                <div class="login-form">
                  <p class="control has-icon has-icon-right">
                    <input class="input email-input" type="text" placeholder="Nome de usuário">
                    <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                  </p>

                  <p class="control has-icon has-icon-right">
                    <input class="input password-input" type="password" placeholder="●●●●●●●">
                    <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                  <p class="control login">
                    <button class="button is-success is-outlined is-medium is-fullwidth" routerLink="/home">Entrar</button>
                  </p>
                </div>
                <div class="section forgot-password login-text">
                  <p class="has-text-centered">
                    <a href="#">Esqueceu a sua senha?</a>
                    <br>
                    <a routerLink="/signup">Registrar</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>