<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 is-offset-4">
            <h1 class="title animated fadeInDown">
              Registrar Usuário
            </h1>
            <div class="box animated fadeIn">
              <label class="label">Nome</label>
              <p class="control">
                <input class="input" type="text" placeholder="Informe o nome">
              </p>
              <label class="label">Sobrenome</label>
              <p class="control">
                <input class="input" type="text" placeholder="Informe o sobrenome">
              </p>
              <label class="label">Email</label>
              <p class="control">
                <input class="input" type="text" placeholder="pedro@example.org">
              </p>
              <label class="label">Usuário</label>
              <p class="control">
                <input class="input" type="text" placeholder="Informe o nome de usuário">
              </p>
              <hr>
              <label class="label">Senha</label>
              <p class="control">
                <input class="input" type="password" placeholder="●●●●●●●">
              </p>
              <label class="label">Confirma senha</label>
              <p class="control">
                <input class="input" type="password" placeholder="●●●●●●●">
              </p>
              <hr>
              <p class="control">
                <button class="button is-primary">Registrar</button>
                <button class="button is-default">Cancelar</button>
              </p>
            </div>
            <p class="has-text-centered animated fadeInUp">
              <a routerLink="/">Login</a>
              | 
              <a href="#">Need help?</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>