<div class="columns catamaran">
  <aside class="column is-2 aside hero is-fullheight is-hidden-mobile animated fadeInLeft">
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </aside>
  <div class="column is-10 admin-panel animated">
    <app-headbar></app-headbar>
    <section class="section animated fadeInRight">
      <!-- <div class="container"> -->
         <div class="columns is-mobile is-multiline"> 
           <div class="column is-full-mobile"> 
             <section class="panel"> 
              <app-account-form></app-account-form>
             </section> 
           </div> 
         </div> 
      <!-- </div> -->
    </section>
  </div>
</div>
<app-footer></app-footer>