<div class="columns catamaran">
  <aside class="column is-2 aside hero is-fullheight is-hidden-mobile animated fadeInLeft">
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </aside>
  <div class="column is-10 admin-panel animated">
    <app-headbar></app-headbar>
    <section class="section animated fadeInRight">
      <div class="columns is-mobile is-multiline">
        <div class="column is-full-mobile">
          <section class="panel">
            <form [formGroup]="form">
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="checkbox"><input type="checkbox" (change)="recurrentChange()" formControlName="recurrent">Recorrente</label>
                  </div>
                </div>
              </div>
              <p class="panel-heading">
                Contas
              </p>
              <div class="box">

                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Nome</label>
                      <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Nome" formControlName="businessPartnerFirstName" [ngClass]="setClass('businessPartnerFirstName')">
                        <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                        <app-icon-error [icon]="setIcon('businessPartnerFirstName')"></app-icon-error>
                        <app-message-error [showError]="validField('businessPartnerFirstName')" msgError="Nome inválido"></app-message-error>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label">Sobrenome</label>
                      <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Sobrenome" formControlName="businessPartnerLastName" [ngClass]="setClass('businessPartnerLastName')">
                        <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                        <app-icon-error [icon]="setIcon('businessPartnerLastName')"></app-icon-error>
                        <app-message-error [showError]="validField('businessPartnerLastName')" msgError="Sobrenome inválido"></app-message-error>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Descrição</label>
                      <div class="control has-icons-left has-icons-right">
                        <input class="input" type="text" Maxlength="100" placeholder="Descrição" formControlName="accountDescription" [ngClass]="setClass('accountDescription')">
                        <span class="icon is-small is-left"><i class="fa fa-text-width"></i></span>
                        <app-icon-error [icon]="setIcon('accountDescription')"></app-icon-error>
                        <app-message-error [showError]="validField('accountDescription')" msgError="Descrição excede 100 caracteres"></app-message-error>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="columns">
                  <div class="column is-one-third">
                    <div class="field">
                      <label class="label">Vencimento Base</label>
                      <div class="control has-icons-left">
                        <input class="input" type="date" formControlName="dueDateBase" (change)="dueDateChange()" [ngClass]="setClass('dueDateBase')">
                        <span class="icon is-small is-left"><i class="fa fa-calendar"></i></span>
                        <app-message-error [showError]="validField('dueDateBase')" msgError="Data inválida"></app-message-error>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label">Condição de Pagamento</label>
                      <div class="control">
                        <div class="select is-fullwidth">
                          <select formControlName="dueDateBase" formControlName="paymentTermsId">
                            <!-- <option *ngFor="let paymentTerm of paymentTerms">{{ paymentTerm }}</option> -->
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                          </select>
                        </div>
                      </div>
                      <app-message-error [showError]="validField('paymentTermsId')" msgError="Informe condição de pagamento"></app-message-error>
                    </div>
                  </div>
                </div>

                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Observação</label>
                      <div class="control">
                        <textarea class="textarea" placeholder="Escreva sua observação..." formControlName="accountComments" [ngClass]="setClass('accountComments')"></textarea>
                      </div>
                      <app-message-error [showError]="validField('accountComments')" msgError=""></app-message-error>
                    </div>
                  </div>
                </div>

                <div class="control">
                  <!-- <button class="button is-info is-outlined" (click)="addItem()"> -->
                  <button class="button is-info is-outlined" (click)="additems()">
                    Adicionar Item
                </button>
                </div>
                <br>

                <!--Item-->
                <div class="columns">
                  <div class="column">
                    <div class="panel-block">
                      <table class="table" formArrayName="items">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Data</th>
                            <th>Qtd.</th>
                            <th>Preço</th>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                            <td>
                              <p class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Nome do item" formControlName="title" [ngClass]="setClass('title', i, 'items')">
                                <span class="icon is-small is-left"><i class="fa fa-text-width"></i></span>
                                <app-icon-error [icon]="setIcon('title', i, 'items')"></app-icon-error>
                                <app-message-error [showError]="validField('title', i, 'items')" msgError="Nome do item inválido"></app-message-error>
                              </p>
                            </td>
                            <td>
                              <p class="control has-icons-left">
                                <input class="input" type="date" formControlName="purchaseDate" [ngClass]="setClass('purchaseDate', i, 'items')">
                                <span class="icon is-small is-left"><i class="fa fa-calendar"></i></span>
                                <app-message-error [showError]="validField('purchaseDate', i, 'items')" msgError="Data da compra inválida"></app-message-error>
                              </p>
                            </td>
                            <td>
                              <p class="control has-icons-left">
                                <input class="input" type="number" placeholder="Qtd" min="1" max="1000000" (change)="editItem()" formControlName="quantity"
                                  [ngClass]="setClass('quantity', i, 'items')">
                                <span class="icon is-small is-left"><i class="fa fa-asterisk"></i></span>
                                <app-message-error [showError]="validField('quantity', i, 'items')" msgError="Quantidade inválida"></app-message-error>
                              </p>
                            </td>
                            <td>
                              <p class="control has-icons-left">
                                <input class="input" type="number" placeholder="Preço" min="0.01" max="1000000" (change)="editItem()" formControlName="price"
                                  [ngClass]="setClass('price', i, 'items')">
                                <span class="icon is-small is-left"><i class="fa fa-money"></i></span>
                                <app-message-error [showError]="validField('price', i, 'items')" msgError="Preço inválido"></app-message-error>
                              </p>
                            </td>
                            <td><strong>{{ getItemValueTotal(item) | number: '1.2-2' }}</strong></td>
                            <!-- <td class="is-icon has-text-centered"><a class="button is-info is-outlined" (click)="editItem(item)"><i class="fa fa-pencil-square-o"></i></a></td> -->
                            <td class="is-icon has-text-centered"><a class="button is-danger is-outlined" (click)="removeItem(i)"><i class="fa fa-times"></i></a></td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="5">
                              <h3>Subtotal</h3>
                            </td>
                            <td class="has-text-centered"><strong>{{ getAccountSubTotal() | number: '1.2-2' }}</strong></td>
                          </tr>
                          <tr>
                            <td colspan="4">
                              <h3>Desconto</h3>
                            </td>
                            <td class="has-text-centered"><strong>{{ percent | number: '1.2-2' }}%</strong></td>
                            <td class="has-text-centered"><strong>{{ discount | number: '1.2-2' }}</strong></td>
                          </tr>
                          <tr>
                            <td colspan="5">
                              <h3>Total</h3>
                            </td>
                            <td class="has-text-centered"><strong>{{ getAccountTotal() | number: '1.2-2' }}</strong></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
                <!--Fim item-->

                <hr>

                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">% Desconto</label>
                      <div class="control has-icons-left has-icons-right">
                        <input class="input" type="number" max="1000000" formControlName="discountPercent" (change)="changeDiscountPercent()" [ngClass]="setClass('discountPercent')">
                        <span class="icon is-small is-left"><i class="fa fa-percent"></i></span>
                        <app-icon-error [icon]="setIcon('discountPercent')"></app-icon-error>
                        <app-message-error [showError]="validField('discountPercent')" msgError="Percentual inválido"></app-message-error>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label">Desconto</label>
                      <div class="control has-icons-left has-icons-right">
                        <input class="input" type="number" placeholder="Desconto" max="1000000" (change)="changeDiscountValue()" formControlName="discountTotal"
                          [ngClass]="setClass('discountTotal')">
                        <span class="icon is-small is-left"><i class="fa fa-minus"></i></span>
                        <app-icon-error [icon]="setIcon('discountTotal')"></app-icon-error>
                        <app-message-error [showError]="validField('discountTotal')" msgError="Desconto inválido"></app-message-error>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="field">
                      <label class="label">Nº Parcelas</label>
                      <div class="control has-icons-left has-icons-right">
                        <input class="input" type="number" placeholder="Nº Parc." max="1000" formControlName="installmentNumber" (change)="setInstallments()"
                          [ngClass]="setClass('installmentNumber')">
                        <span class="icon is-small is-left"><i class="fa fa-asterisk"></i></span>
                        <app-icon-error [icon]="setIcon('discountTotal')"></app-icon-error>
                        <app-message-error [showError]="validField('installmentNumber')" msgError="Quantidade de parcelas inválida"></app-message-error>
                      </div>
                    </div>
                  </div>
                </div>

                <!--installment-->
                <div class="columns">
                  <div class="column">
                    <div class="panel-block">
                      <table class="table" formArrayName="installments">
                        <thead>
                          <tr>
                            <th>Sequência.</th>
                            <th>Vencimento</th>
                            <th>Total</th>
                            <th>Observação</th>
                            <th>Recorrente</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let installment of installments.controls; let i=index" [formGroupName]="i">
                            <td>{{ i + 1 }}</td>
                            <td>
                              <p class="control has-icons-left">
                                <input class="input" type="date" formControlName="dueDate" [ngClass]="setClass('dueDate', i, 'installments')">
                                <span class="icon is-small is-left"><i class="fa fa-calendar"></i></span>
                                <app-message-error [showError]="validField('dueDate', i, 'installments')" msgError="Data de vencimento inválida"></app-message-error>
                              </p>
                            </td>
                            <td>
                              <p class="control has-icons-left">
                                <input class="input" type="number" placeholder="Total" min="0.01" max="1000000" formControlName="total" (change)="totalChange(installment)" [ngClass]="setClass('total', i, 'installments')">
                                <span class="icon is-small is-left"><i class="fa fa-money"></i></span>
                                <app-message-error [showError]="validField('total', i, 'installments')" msgError="Total inválido"></app-message-error>
                              </p>
                            </td>
                            <td>
                              <p class="control is-expanded has-icons-left has-icons-right">
                                <input class="input" type="text" placeholder="Observação" formControlName="comments" [ngClass]="setClass('comments', i, 'installments')">
                                <span class="icon is-small is-left"><i class="fa fa-text-width"></i></span>
                                <app-icon-error [icon]="setIcon('comments', i, 'installments')"></app-icon-error>
                                <app-message-error [showError]="validField('comments', i, 'installments')" msgError="Observação inválida"></app-message-error>
                              </p>
                            </td>
                            <td>
                              <input type="checkbox" formControlName="recurrent">
                            </td>
                            <!-- <td class="is-icon has-text-centered"><a class="button is-info is-outlined" (click)="editItem(installment)"><i class="fa fa-pencil-square-o"></i></a></td> -->
                            <td class="is-icon has-text-centered"><a class="button is-danger is-outlined" (click)="removeInstallment(i)"><i class="fa fa-times"></i></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--Fim installment-->
              </div>
            </form>
          </section>
        </div>
      </div>
      <simple-notifications [options]="options"></simple-notifications>
      <app-form-debug [form]="form"></app-form-debug>
    </section>
  </div>
</div>
<app-footer></app-footer>