<!-- <nav class="nav catamaran">
  <div class="nav-left">
    <h1 class="title">
      Contas
    </h1>
  </div>
  <div class="nav-right">
    <span class="nav-item is-active">
      <a class="button is-success is-inverted">
        <span class="icon">
          <i class="fa fa-power-off"></i>
        </span>
      <span>Nova Conta</span>
      </a>
    </span>
  </div>
</nav> -->
<a class="button is-info is-inverted" routerLink="/account">
  <span class="icon">
    <i class="fa fa-plus"></i>
  </span>
  <span>Nova Conta</span>
</a>
<p class="panel-heading">
  Contas
</p>
<div class="panel-block">
  <table class="table">
    <thead>
      <tr>
        <th>Núm.</th>
        <th>Desc.</th>
        <th>Parc. Neg.</th>
        <th>Cond. Pag.</th>
        <th>Status</th>
        <th>Adição</th>
        <th>Total</th>
        <th>Parc.</th>
        <th>Rec.</th>
        <th>Obs.</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Núm.</th>
        <th>Desc.</th>
        <th>Parc. Neg.</th>
        <th>Cond. Pag.</th>
        <th>Status</th>
        <th>Adição</th>
        <th>Total</th>
        <th>Parc.</th>
        <th>Rec.</th>
        <th>Obs.</th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.number }}</td>
        <td>{{ account.accountDescription }}</td>
        <td>{{ account.businessPartnerName }}</td>
        <td>{{ account.paymentTermsDescription }}</td>
        <td>{{ account.statusDescription }}</td>
        <td>{{ account.dateAdd }}</td>
        <td>{{ account.total | number: '1.2-2' }}</td>
        <td>{{ account.numberOfInstallments }}</td>
        <!-- <td>{{ account.recurrrent }}</td> -->
        <td><input type="checkbox" [checked]="account.recurrrent" onclick="return false;" /></td>
        <td>{{ account.comments }}</td>
        <td class="is-icon">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </td>
        <td class="is-icon">
          <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>