 <p class="panel-heading">
  Contas
</p>
<div class="box">
  <form [formGroup]="form">
    <div class="control has-icons-left has-icons-right">
      <input class="input" (click)="teste()" type="text" formControlName="businessPartnerFirstName" [ngClass]="validField('businessPartnerFirstName') ? 'is-danger' : is-success" #name>
      <app-icon-error [icon]="setIcon('businessPartnerFirstName')"></app-icon-error>
      <app-message-error [showError]="validField('businessPartnerFirstName')" msgError="Nome inválido"></app-message-error>
      {{ name.className }}
    </div>  
  </form>
</div>  
<app-form-debug [form]="form"></app-form-debug>
<app-notification></app-notification>