<section class="hero is-fullheight catamaran">
  <div class="login-wrapper columns">
    <div class="column is-8 is-hidden-mobile hero-banner animated fadeInLeft">
      <section class="hero is-fullheight is-dark">
        <div class="hero-body">
          <div class="container section">
            <div class="has-text-right">
              <h1 class="title is-1">Login</h1> <br>
              <p class="title is-3">Login Seguro da Conta de Usuário</p>
            </div>
          </div>
        </div>
        <div class="hero-footer">
          <p class="has-text-centered">Image © Glenn Carstens-Peters via unsplash</p>
        </div>
      </section>
    </div>
    <div class="column is-4 animated fadeInRight">
      <section class="hero is-fullheight">

        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <!-- <h1 class="avatar has-text-centered section">
                  <img src="https://placehold.it/128x128">
                </h1> -->
                <div class="hero-heading">
                  <div class="section has-text-centered courgette animated pulse infinite">
                    <p class="help has-text-centered medium-text">Personal Budget</p>
                  </div>
                </div>
                <div class="login-form">
                  <p class="control has-icon has-icon-right">
                    <input class="input email-input" type="text" placeholder="Nome de usuário">
                    <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                  </p>

                  <p class="control has-icon has-icon-right">
                    <input class="input password-input" type="password" placeholder="●●●●●●●">
                    <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                  <p class="control login">
                    <button class="button is-success is-outlined is-medium is-fullwidth" routerLink="/home">Entrar</button>
                  </p>
                </div>
                <br>
                <p class="has-text-centered">
                  <a (click)="showModal('modalSendEmail')">Esqueceu a senha?</a>
                </p>
                <p class="has-text-centered">
                  <a routerLink="/signup">Registrar</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<div class="modal animated fadeIn" id="modalSendEmail">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Recuperar Senha</p>
      <button class="delete" (click)="hideModal('modalSendEmail')"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" placeholder="Informe o e-mail para a recuperação da senha...">
          <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          <span class="icon is-small is-right">
               <i class="fa fa-check"></i> 
            </span>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <p class="control">
        <button class="button is-info" (click)="hideModal('modalSendEmail'); showModal('modalMsg');">Enviar</button>
        <button class="button" (click)="hideModal('modalSendEmail')">Cancelar</button>
      </p>
    </footer>
  </div>
</div>

<div class="modal animated fadeIn" id="modalMsg">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Mensagem do Sistema</p>
      <button class="delete" (click)="hideModal('modalMsg')"></button>
    </header>
    <section class="modal-card-body">
      Se existir algum cadastro com o e-mail informado, enviaremos uma nova senha.
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="hideModal('modalMsg')">OK</button>
    </footer>
  </div>
</div>