<div class="main">
  <div class="title">{{ user }}</div>
  <a href="#" class="item active"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Contas</span></a>
  <a href="#" class="item"><span class="icon"><i class="fa fa-map-marker"></i></span><span class="name">Parcelas</span></a>
  <a href="#" class="item"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Recorrentes</span></a>
  <a href="#" class="item"><span class="icon"><i class="fa fa-folder-o"></i></span><span class="name">Condição de Pag.</span></a>
</div>