<div class="main">
  <!-- <div class="has-text-centered">
    <h1 class="avatar">
      <img src="https://placehold.it/128x128">
    </h1>
  </div> -->
  <div class="title courgette">{{ user }}</div>
  <a href="#" class="item active"><span class="icon" routerLink="/home"><i class="fa fa-list"></i></span><span class="name">Contas</span></a>
  <a href="#" class="item"><span class="icon"><i class="fa fa-calendar"></i></span><span class="name">Parcelas</span></a>
  <a href="#" class="item"><span class="icon"><i class="fa fa-calendar-check-o"></i></span><span class="name">Recorrentes</span></a>
  <a href="#" class="item"><span class="icon"><i class="fa fa-credit-card-alt"></i></span><span class="name">Condição de Pag.</span></a>
  <a href="#" class="item"><span class="icon"><i class="fa fa-user"></i></span><span class="name">Usuário</span></a>
</div>